@charset="UTF-8"

body{
  
} h1{
  color:blue;
  font-family:Monospace;
} header{
  
} body{
  background-image:linear-gradient(to right,#000000, black);
  min-width:320px;
  max-width:920px;
} h2{
  color:darkblue;
  font-family: arial,comic sans ms, Monospace;
} p{
  color: white;
  font-size:1.2em;
  font-family:Monospace;
} strong{
  color:darkblue;
}